AddHandler application/x-httpd-php5 .php .html .csx .jx
AddHandler text/x-component .htc

AddCharset UTF-8 .html .xml .php .csx .jx

Options -Indexes

RewriteEngine on
RewriteCond $1 !^(index\.php|inc|robots\.txt|favicon\.ico|admin)
RewriteRule ^(.*)$ index.php/$1 [L]

ErrorDocument 404 /main/error/404/
ErrorDocument 403 /main/error/403/
ErrorDocument 500 /main/error/500/
