
	.fx0 {
		float:right;
		background:url(/inc/img/0101/cult.01.jpg);
		margin:0 0 0 1em;
		padding:1em 1em 0 1em;
		width:225px;
		border:1px solid #d9d9d9;
	}
	.fx0 p {
		font-family:Georgia,serif; 
		color:#444;
		font-size:0.9em;
		font-style:italic;
		line-height:1.6em;
	}
	.fx0 h3 {
		color:#666;
		font-size:1.35em;
		margin-bottom:.5em;
	}
	img.flc {
		float:left;
		margin:0.5em 1em 1em 0;
	}