<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="es-mx"  />
	<meta name="robots" content="index, follow"/>
	<meta name="author" content="GIRO Diseño - Héctor Menéndez"/>
	<meta name="copyright" content="Octubre 2008"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	
	<title>Gaceta del Caribe - Año 1 No. 1 - Oaxaca TEST </title>
	
	<link rel="shortcut icon" href="<?=INC.'favicon.ico'?>"/>

	<link rel="stylesheet" type="text/css" href="<?=CSS.'structure.css'?>" media="all"/>
	<link rel="stylesheet" type="text/css" href="<?=CSS.'theme.csx'?>" media="all"/>
	<script type="text/javascript" src="<?=JS.'jquery.js'?>"></script>
	<script type="text/javascript" src="<?=JS.'0101/main.js'?>"></script> 
</head>
<?php
	// randomize covers
	srand((float)microtime() * 1000000);
	shuffle($sect);
?>
<body>

	<div id="debug"></div>
	
	
	<!-- Main Container-->
	<div id="main">
		
		<div id="logo">
			<img src="<?=IMG.'logo.blue.png'?>" alt="Logotipo de Gaceta del Caribe"/>
			<h1><a href="http://www.gacetadelcaribe.com/">Gaceta del Caribe - Versión online de la publicación impresa bimestral</a></h1>
			<h5>Año 1 No 1 Octubre-Diciembre 2008</h5>
		</div>
		
		<div id="menu">
			<h6>Navegación</h6>
			<ul>
				<li><a href="http://www.gacetadelcaribe.com/" class="root">Inicio</a></li>
				<li><a href="#quienes-somos" class="qsom">¿Quiénes Somos?</a></li>
				<li><a href="#editorial" class="edit">Editorial</a></li>
				<li><a href="#numeros-anteriores" class="numa">Números Anteriores</a></li>
				<li><a href="#contacto" class="ctac">Contacto</a></li>
			</ul>
		</div>
		
		<div id="info">
		</div>
		
		<!-- Content -->
		<div id="cont">
			
			<!-- Content Left -->
			<div class="lft">
				<div id="navi">
					<h6>Índice</h6>
					<ul>
						<li><a href="/0101/portada/oaxaca-patrimonio-cultural-de-la-humanidad" title="">
							<strong>Oaxaca</strong> <em>en Portada</em>
						</a></li>
						<li><a href="/0101/cultura/oaxaca-sus-espacios-para-el-arte-y-sus-artistas" title="por Carlos-Blas Galindo">
							<strong>Oaxaca, <span>sus espacios</span> <span>para el arte</span> <span>y sus Artistas</span></strong> <em>en Cultura</em>
						</a></li>
						<li><a href="/0101/ecologia/atributos-naturales-de-oaxaca" title="por Biól. Patricia Santos">
							<strong>Atributos naturales de Oaxaca</strong> <em>en Ecología</em>
						</a></li>
						<li><a href="/0101/viajes/cienfuegos-la-perla-del-sur" title="">
							<strong>Cienfuegos, <span>la perla del sur</span></strong> <em>en Viajes</em>
						</a></li>
						<li><a href="/0101/restaurantes/sugoi-fusion-franco-japonesa" title="">
							<strong>Sugoi</strong> <em>en Restaurantes</em>
						</a></li>
						<li><a href="/0101/lugares/la-bodeguita-del-medio-la-casa-del-mojito" title="">
							<strong>La Bodeguita <span>del Medio<span></strong> <em>en Lugares</em>
						</a></li>
						<li><a href="#" title="Morelia Michoacán">
							<strong>Sexto Festival <span>Internacional</span> de Cine</strong> <em>en Eventos</em>
						</a></li>
						<li><a href="/0101/sociales/miss-venezuela-dayana-mendoza" title="por Luis Carín">
							<strong>Miss Venezuela</strong> <em>en Sociales</em>
						</a></li>
					</ul>
				</div>
			</div>
			
			<!-- Content Center -->
			<div id="covr" class="mid">
				<h6>Contenido</h6>
				<div class="c1">
					<div class="n1 r0">
						<h2 class="<?=$sect[0]?>"><a href="<?=$cont[$sect[0]]['lnk']?>" title="<?=$cont[$sect[0]]['ttt']?>"><?=$cont[$sect[0]]['tit']?></a></h2>
					</div>
				</div>
				<div class="c2">
					<div class="n2 r1">
						<h2 class="<?=$sect[1]?>"><a href="<?=$cont[$sect[1]]['lnk']?>" title="<?=$cont[$sect[1]]['ttt']?>"><?=$cont[$sect[1]]['tit']?></a></h2>
					</div>
					<div class="n3 r3">
						<h2 class="<?=$sect[2]?>"><a href="<?=$cont[$sect[2]]['lnk']?>" title="<?=$cont[$sect[2]]['ttt']?>"><?=$cont[$sect[2]]['tit']?></a></h2>
					</div>
				</div>
				<div class="c2">
					<div class="n4 r0">
						<h2 class="<?=$sect[3]?>"><a href="<?=$cont[$sect[3]]['lnk']?>" title="<?=$cont[$sect[3]]['ttt']?>"><?=$cont[$sect[3]]['tit']?></a></h2>
					</div>
				</div>
				<div class="c2">
					<div class="n5 r3">
						<h2 class="<?=$sect[4]?>"><a href="<?=$cont[$sect[4]]['lnk']?>" title="<?=$cont[$sect[4]]['ttt']?>"><?=$cont[$sect[4]]['tit']?></a></h2>
					</div>
					<div class="n6 r1">
						<h2 class="<?=$sect[5]?>"><a href="<?=$cont[$sect[5]]['lnk']?>" title="<?=$cont[$sect[5]]['ttt']?>"><?=$cont[$sect[5]]['tit']?></a></h2>
					</div>
				</div>
				<div class="c2">
					<div class="n7 r2">
						<h2 class="<?=$sect[6]?>"><a href="<?=$cont[$sect[6]]['lnk']?>" title="<?=$cont[$sect[6]]['ttt']?>"><?=$cont[$sect[6]]['tit']?></a></h2>
					</div>
					<div class="n8 r2">
						<h2 class="<?=$sect[7]?>"><a href="<?=$cont[$sect[7]]['lnk']?>" title="<?=$cont[$sect[7]]['ttt']?>"><?=$cont[$sect[7]]['tit']?></a></h2>
					</div>
				</div>
			</div>
			
			<!-- Content Right -->
			<div class="rgt">
				<div id="look">
					<input type="text" class="n1" value="Buscar..." />
					<input type="submit" class="n2" value="OK"/>
				</div>
				<div id="mini">
					<a href="/0101/" class="fill" title="Gaceta del Caribe - Portada Año 1 No. 1 Octubre - Diciembre 2008"><img src="<?=IMG.'covers/0101.sml.jpg'?>" alt="Gaceta del Caribe - Portada Año 1 No. 1 Octubre - Diciembre 2008"/></a>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<div id="foot"></div>
		
		<div id="mask"></div>
		
	</div>
	
	<div id="hold"></div>
	
	<div id="fill"></div>
</body>

</html>
